.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100px;
    width:100px;

    
    text-align: center;

    border: 1px solid black;

    background-color:tomato;
    
    

}

.label {
    display: block;

    /* padding-top: 10px; */
}

.percentage {
    display: block;

    /* padding-top: 10px; */

    font-size: larger;
    font-weight: 600;

}